<div class="col-sm-3">
    <a class="btn btn-primary" href="/Photo/UserPhotos">MANAGE YOUR PHOTOS</a>
</div>

<div class="col-sm-3">
    <a class="btn btn-primary" href="/Album/UserAlbumList">MANAGE YOUR ALBUMS</a>
</div>

<div class="col-sm-2">
    <a class="btn btn-primary" href="/album/add">ADD ALBUM</a>
</div>

<div class="col-sm-2">
    <a class="btn btn-primary" href="/photo/add">ADD PHOTO</a>
</div>
